@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6c63ff;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .sidebar-theme {
    @apply bg-white dark:bg-[#242526] border-r border-gray-200 dark:border-gray-800;
  }
}